@use '../../abstracts' as *;

button {
  min-width: 11.6rem;
  position: relative;
  z-index: 0;
  height: 3.5rem;
  border-radius: 999999px;
  border: 0.2rem solid;
  border-color: $btn-bg;
  transition: all 0.5s ease;
  text-wrap: nowrap;
  cursor: pointer;
  background-color: transparent;
  padding: 2rem 3.4rem;
  @include text($btn-text, 400, 1.2rem);
  @include breakpoint(md) {
    font-size: 1.4rem;
    height: 4rem;
  }
  @include breakpoint(xl) {
    font-size: 1.6rem;
    height: 4.8rem;
  }

  @include breakpoint(xl) {
    font-size: 1.6rem;
    height: 5.6rem;
  }

  @include flex(center, center);

  svg {
    margin-right: 0.8rem;
    fill-opacity: 1;

    > * {
      fill: $btn-text;
    }
  }

  &:hover {
    background-color: $btn-bg;
    border-color: $btn-border-active;

    > a {
      color: $btn-text-active;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $btn-bg-disabled;
    color: $btn-text-disabled;
    border-color: transparent;
    > a {
      cursor: not-allowed;
      color: $btn-text-disabled;
    }
    svg > * {
      fill: $btn-icon-disabled;
    }
  }

  &:disabled:hover {
    border-color: $btn-border-disabled-active;
    > a {
      color: $btn-text-disabled;
    }
    svg > * {
      fill: $btn-icon-disabled;
    }
  }
}
