@use '../../abstracts' as *;

.select-box {
  width: 100%;
  border: none;
  text-align: left;
  overflow: visible;
  .dropdown {
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: inline-block;
    height: 4.2rem;
    @include breakpoint(md) {
      height: 4.8rem;
    }
    @include breakpoint(lg) {
      height: 5.4rem;
    }
    p {
      font-weight: 500;
      margin-bottom: 0.8rem;
    }
    #dropdown {
      width: 100%;
    }

    &:focus {
      .dropdown-btn {
        border-color: $border-primary;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 0.8rem;
      transform: translateY(-50%);
      z-index: 1;
      @include flex(center, center);
      @include breakpoint(xl) {
        left: 1.6rem;
      }
    }
    #dropdown-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      height: 100%;
      z-index: 0;
      cursor: pointer;
      padding: 1rem;
      padding-left: 3.4rem;
      background-color: transparent;
      border: 0.2rem solid;
      border-color: $border-primary;
      border-radius: 0.6rem;
      &:not(:disabled):focus,
      &:not(:disabled):focus-within,
      &:not(:disabled):hover {
        border-color: $border-primary;
      }
      @include text(rgba($text-primary, 0.7), 400, 1.2rem);
      @include flex(left, center);
      @include breakpoint(md) {
        font-size: 1.4rem;
        border-radius: 1.2rem;
      }

      @include breakpoint(lg) {
        border-radius: 2rem;
        font-size: 1.6rem;
        padding: 1.6rem;
        padding-left: 4.6rem;
      }

      &.filled {
        color: $text-primary;
      }
    }
    #overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 100;
    }
    #dropdown-content,
    .dropdown-content {
      display: none;
      position: absolute;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      top: 105%;
      left: 0;
      width: 100%;
      max-height: 40rem;
      z-index: 1000;
      overflow-y: auto;
      background-color: $white;
      justify-content: left;
      align-items: flex-start;
      flex-direction: column;
      gap: 1.2rem;
      &__search-bar {
        width: 100%;
        border-bottom: 0.05rem solid $gray-100;
        padding: 0.8rem 1.6rem;
        @include breakpoint(xl) {
          padding: 1.6rem;
        }
      }
      &::-webkit-scrollbar {
        opacity: 0;
        width: 0;
      }
      input {
        &::placeholder {
          color: $text-secondary;
          font-weight: 400;
          font-size: 1.4rem;
          @include breakpoint(xl) {
            font-size: 1.6rem;
          }
        }
      }
      ul {
        width: 100%;
        .item {
          width: 100%;
          padding: 0.8rem 1.6rem;
          text-align: left;
          cursor: pointer;
          @include text($text-secondary, 400, 1.2rem);
          @include breakpoint(xl) {
            font-size: 1.4rem;
          }

          @include breakpoint(xl) {
            font-size: 1.6rem;
          }
          &:hover {
            background-color: $gray-100;
            font-weight: 500;
          }
        }
      }
    }
    // Using checkbox to toggle dropdown
    input[type='checkbox']:checked ~ #dropdown-content {
      display: flex;
    }
    input[type='checkbox']:checked ~ #dropdown-btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: $text-primary;
    }

    input[type='checkbox']:checked ~ #overlay {
      display: block;
    }
    &-error {
      font-weight: 500;
      @include flex(left, center);
      svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.8rem;
      }
    }

    &-error {
      z-index: 0;
      position: relative;
    }
  }
  &.error {
    .dropdown-error {
      border-color: $input-border-error !important;
      @include text($input-error-message, 400, 1.2rem);
      @include breakpoint(xl) {
        font-size: 1.4rem;
      }
    }
    #dropdown-btn {
      border-color: $input-border-error !important;
    }
  }
}
