@use '../../abstracts' as *;

.textfield {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  &__container {
    position: relative;
    .textfield__icons {
      position: absolute;
      left: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      @include flex(center, center);
      svg {
        width: 2.4rem;
        height: 2.4rem;
        transform: scale(0.8);
        @include breakpoint(xl) {
          transform: scale(0.9);
        }
      }
      @include flex(center, center);
      @include breakpoint(lg) {
        left: 1.6rem;
      }
    }
    input {
      background-color: $input-bg;
      width: 100%;
      outline: 0;
      border-radius: 0.6rem;
      height: 4.2rem;
      display: block;
      border: 0.2rem solid $border-primary;
      padding: 1.6rem 1.2rem 1.2rem 3.2rem;
      @include text($text-primary, 500, 1.2rem, 1rem);
      @include breakpoint(md) {
        border-radius: 1.2rem;
        font-size: 1.4rem;
        height: 4.8rem;
      }
      @include breakpoint(lg) {
        padding: 2rem 1.6rem 1.6rem 4.6rem;
        font-size: 1.6rem;
        border-radius: 2rem;
        height: 5.6rem;
      }
      &:-webkit-autofill {
        appearance: none;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $text-primary !important;
        -webkit-color: $text-primary !important;
        border: 0.2rem solid $border-primary;
        .textfield__label {
          color: $text-primary !important;
        }
      }
      &::placeholder {
        opacity: 0.7;
        padding-left: 0.2rem;
        @include text($text-primary, 400, 1.2rem);
        @include breakpoint(md) {
          font-size: 1.4rem;
        }
        @include breakpoint(xl) {
          font-size: 1.6rem;
          padding-left: 0;
        }
      }
      &:placeholder-shown {
        ~ .textfield__label {
          visibility: hidden;
        }
      }
      &:not(:disabled):hover {
        border-color: $border-primary;
      }
      &:not(:disabled):focus,
      &:not(:disabled):focus-within {
        color: $text-primary;
        &::placeholder {
          opacity: 0;
        }
        ~ .textfield__label {
          visibility: visible;
          top: 10%;
          transform: scale(0.75);
          @include breakpoint(xl) {
            top: 10%;
          }
          p {
            color: $text-primary;
            opacity: 1;
          }
        }
      }
    }

    .textfield__label {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 3.6rem;
      transform-origin: top left;
      transition: top 0.2s ease-out;
      transform: scale(1);
      transform: translateY(-50%);
      @include breakpoint(xl) {
        left: 4.8rem;
      }
      p {
        height: 100%;
        opacity: 0.7;
        width: 100%;
        @include flex(left, center);
        @include text($text-primary, 400, 1.2rem, 1.4);
        @include breakpoint(md) {
          font-size: 1.4rem;
        }
        @include breakpoint(xl) {
          font-size: 1.6rem;
        }
      }
    }
  }
  &.error {
    .textfield__container {
      input {
        border-color: $input-border-error !important;
        &:focus-within,
        &:hover {
          border-color: $input-label-error !important;
        }
      }
    }
  }

  &.filled {
    .textfield__container {
      input {
        background-color: $input-bg;
        &::placeholder {
          display: none;
        }
      }
      .textfield__label {
        top: 10%;
        transform: translateY(0);
        transform: scale(0.75);
        > p {
          opacity: 1;
        }
      }
    }
  }
  &__error {
    @include flex(left, center);
    @include text($input-error-message, 400, 1.2rem);
    @include breakpoint(xl) {
      font-size: 1.4rem;
    }
    svg {
      margin-right: 0.4rem;
    }
  }
}
