input,
textarea {
  border: none;
  outline: none;
}

button {
  outline: none;
}
button:disabled {
  pointer-events: none;
}

select {
  appearance: none;
  position: relative;
}

fieldset {
  outline: none;
  border: none;
}

.image-wrapper {
  background-color: rgb(247 247 247) !important;
  margin: 0 auto !important;
  width: 100% !important;
  aspect-ratio: 1 / auto;
}
.image-wrapper img {
  background-color: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-wrapper > p.image-caption {
  background-color: inherit;
  text-align: center !important;
  padding: 8px 0 0 0 !important;
  display: flex !important;
  justify-content: center !important;
}
.react-datepicker-wrapper {
  width: 100%;
}
.splide__pagination li {
  border-radius: 10px !important;
  width: 40px;
  margin-left: 20px;
  height: 4px;
}

.splide__pagination li button {
  border-radius: 10px !important;

  height: 4px;
  background-color: gray;
  border-radius: 0px;
  width: 40px;
}
.splide__pagination li button:focus {
  border: 2px solid #b5d43b;
  padding: 2px;
}
.splide__pagination__page.is-active {
  background-color: black;
  border-radius: 10px !important;
  width: 40px !important;
  height: 4px;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

*:not(fieldset):disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.5;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
@keyframes loadingSpinner {
  to {
    transform: rotate(0.5turn);
  }
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}
