@import './components.css';
@import './themes/base.css';
@import 'tailwindcss';
/* @import './font.css'; */
@import '@splidejs/splide/css';
@import '@splidejs/splide/css/core';

html,
body {
  font-family: var(--font-aptos);
  background-color: var(--color-gray-50);
}
/*
.loader {
  width: 60px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #b239e8 92%, transparent);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 14px 14px;
  animation: loadingSpinner 1s infinite;
} */

/* HTML: <div class="loader"></div> */

